<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Lighthouse Reviews</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @Styles.Render("~/Content/main.css")
    @*<link rel="stylesheet" href="~/Content/main.css" />*@
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="~/Home">Lighthouse</a></h1>
            <nav>
                @Html.Partial("_LoginPartial")
                <a href="#menu">Menu</a>



            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="~/Home/">Home</a></li>
                    <li><a href="~/Categories/">Categories</a></li> @*/Catagories/Details/#*@
                    <li><a href="~/Videos">All Videos</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <li><a href="~/Account/Register">Register</a></li>
                    }


                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>

        <!-- Wrapper -->
        <section id="wrapper">
   
            <!-- Content -->
            <div class="wrapper">
                <div class="inner">

                    @RenderBody()
                    
                </div>
            </div>

        </section>

        <!-- Footer -->
        <section id="footer">

        </section>

    </div>

    <!-- Scripts -->
    @*<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>*@
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.scrollex.min.js")
    @Scripts.Render("~/Scripts/browser.min.js")
    @Scripts.Render("~/Scripts/breakpoints.min.js")
    @Scripts.Render("~/Scripts/util.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>