@model tofix.Models.Review
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.DisplayName)
        </dd>



    </dl>
</div>
<p>
    @if (Model.UserData.ID == User.Identity.GetUserId() || User.IsInRole("Admin"))
    {
    <div class="button small">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div> @:|
    <div class="button small">@Html.ActionLink("Delete", "Delete", new { id = Model.ID })</div> @:|
    }

<div class="button small primary">
    @Html.ActionLink("Back to List", "Details", "Videos", new { id = Model.videoID }, null)
</div>
</p>
