@model IEnumerable<tofix.Models.Review>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BodyText)
        </th>
        <th>
            Reactions
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserData.DisplayName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BodyText)
    </td>
    <td>
        @foreach (var emoji in item.ReactionEmojis)
        {
            @: @emoji.Reaction
        }
    <td>
        @Html.DisplayFor(modelItem => item.UserData.DisplayName)
    </td>

    <td>
        <div class="button small">@Html.ActionLink("Details", "Details", new { id = item.ID })</div>

        @if (User.IsInRole("Admin"))
        {
            <text>
                |
                    <div class="button small">@Html.ActionLink("Edit", "Edit", new { id = item.ID })</div> |
                    <div class="button small"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</div>
            </text>
        }
    </td>
</tr>
}

</table>
