@model tofix.Models.Category

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div>

        <div>
                @Html.Action("Index", "Videos", new { id=Model.ID })
        </div>


</div>

@*<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>*@
<p>
    @if (User.IsInRole("Admin"))
    {
        <text>
            <div class="button small">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div>
             |
            <div class="button primary small">@Html.ActionLink("Back to List", "Index")</div>
        </text>
    }

        else

        {
<div class="button primary small"> @Html.ActionLink("Back to List", "Index")</div>
        }
    </p>
