@model IEnumerable<tofix.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
@if(User.IsInRole("Admin")){
<p>
    <div class="button"> @Html.ActionLink("Create New", "Create")</div>
</p> 
}
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td onclick="location.href='@Url.Action("Details", new { id = item.ID })'" style="cursor:pointer">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <text>
                                   
                                    <div class="button small">  @Html.ActionLink("Edit", "Edit", new { id = item.ID })</div> |
                                    <div class="button small"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</div>
                    </text>
                }
                else
                {
            <div class="button"> @Html.ActionLink("Details", "Details", new { id = item.ID })</div>
                }
            </td>
        </tr>
    }

</table>
