@model tofix.Models.Video

@{
    ViewBag.Title = "Details";
}
<div>

    <h1>@Html.DisplayFor(model => model.videoName) </h1>

    <div>
        <div margin:auto>
            <iframe width=800px height=600px src="//www.youtube.com/embed/@Html.DisplayFor(model => model.youtubeLinkAPI)" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr />
        <div>
            Top Responses : @foreach (var pair in Model.GetEmojiCount(2))
            {
                <span title="@pair.Value">@pair.Key</span>
            }
        </div>
    </div>
    <hr />
    <div>
        @if (User.Identity.IsAuthenticated == true)
        {
            <p class="button primary">
                @Html.ActionLink("Add Comment", "Create", "Reviews", new { id = Model.ID }, null)
            </p>
        }
    </div>

    <div>
        @Html.Action("Index", "Reviews", new { id = Model.ID })
    </div>

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
