@model tofix.Models.Video

@{
    ViewBag.Title = "Details";
}
<div class="align-center">

    @*<h1>@Html.DisplayFor(model => model.videoName) </h1>*@

    <div>
        <span margin:auto>
            <iframe src="//www.youtube.com/embed/@Html.DisplayFor(model => model.youtubeLinkAPI)" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
        <hr />
        <div class="row videoDetailBox" >
            
            <div class="align-left">
                
                <div class="emoji-response">
                    @Html.DisplayFor(model => model.videoName)
                    <br /><br />
                    Top Responses : @foreach (var pair in Model.GetEmojiCount(2))
                    {
                        <span title="@pair.Value - @pair.Key.Description">@pair.Key.Reaction</span>
                    }
                </div>
            </div>
            <div class="align-right">
                @*<div class="totalRuntime">Runtime: </div>*@
                <div>
                    @if (User.Identity.IsAuthenticated == true)
                    {

                        <div class="add-comment-button">
                            <p class="button primary">
                                @Html.ActionLink("Add Comment", "Create", "Reviews", new { id = Model.ID }, null)
                            </p>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    

    <div>
        @Html.Action("Index", "Reviews", new { id = Model.ID })
    </div>

    
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        <text>
            <div class="button small">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div> |
            <div class="button primary small">@Html.ActionLink("Back to List", "Details", "Categories", new { id = Model.videoCatagory }, null)</div>

        </text>
    }
    else
    {
<div class="button primary small"> @Html.ActionLink("Back to List", "Details", "Categories", new { id = Model.videoCatagory }, null)</div>
    }

</p>
