@model IEnumerable<tofix.Models.Video>

@{
    ViewBag.Title = "Index";
}
<p>
    <div class="button">@Html.ActionLink("Create New", "Create")</div>
</p>
<div class="box alt">
    <div class="row gtr-uniform rowsOfVideos">
        @foreach (var item in Model)
        {
            <div class="col-6">

                <a class="image fit" style="background-image:url('@item.videoImageUrl')" href="@Url.Action("Details","Videos", new { id = item.ID })">

                    <div class="videoTopBar">
                        <div class="videoEmojiReaction">
                            @foreach (var pair in item.GetEmojiCount(2))
                            {
                                <span title="@pair.Value">@pair.Key</span>
                            }
                        </div>

                        <div class="videoTime">
                            @item.videoLength
                        </div>
                    </div>

                    <div class="videoBottomBar">
                        <div class="videoTitle">
                            @item.videoName
                        </div>
                    </div>

                </a>



            </div>



        }
    </div>
</div>
