@model IEnumerable<tofix.Models.Video>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.videoImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.videoName)
        </th>
        <th>
            Top Responses
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>*@
    <td>
        <span class="image fit">
            <img src="@item.videoImageUrl" />
            @*@Html.DisplayFor(modelItem => item.videoImageUrl)*@
        </span>
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.videoName)
    </td>
    <td>
        <div>
            @foreach (var pair in item.GetEmojiCount(2))
            {
                <span title="@pair.Value">@pair.Key</span>
            }
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>


    <td>
        @Html.ActionLink("Details", "Details", new { id = item.ID })

        @if (User.IsInRole("Admin"))
        {
            <text>
                |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </text>
        }

    </td>
</tr>
}

</table>
